<section class="todoapp">
  <app-header (addTask)="addTask($event)"></app-header>
  <div class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->
    <app-tasks-list [tasks]="getTasks()" (update)="onUpdate()"></app-tasks-list>
    <!-- This footer should be hidden by default and shown when there are todos -->
   <app-tasks-footer [isVisible]="tasks.length > 0" [currentFilter]="currentFilter" [nCompletedTasks]="getCompletedTaks().length" [nPendingTasks]="getPendingTaks().length" (cleanCompletedTasks)="cleanCompletedTasks()"></app-tasks-footer>
  </div>
</section>
